* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.login-body {
  height: 100vh;
  width: 100%;
  padding: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f2f2f2;
}

.s-login-form {
  width: 50%;
  min-width: 280px;
  max-width: 350px;
  height: 500px;
  padding: 40px;
  padding-top: 65px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  border-radius: 10px;
}

.login-form {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login-form > p {
  font-family: "Montserrat Alternates", sans-serif;
  margin-bottom: 40px;
  font-size: 35px;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

input {
  height: 40px;
  border: none;
}

input:focus {
  border: none;
  outline: none;
}

hr {
  width: 100%;
}

.login-button {
  width: 80%;
  background-color: #6e98ff;
  border-radius: 52px;
  color: white;
  font-family: "Montserrat Alternates", sans-serif;
  font-weight: 600;
}

section > hr {
  width: 100%;
  opacity: 40%;
  margin-top: 40px;
}

.or-text {
  padding-top: 30px;
}

.or-text > hr {
  display: inline-block;
  opacity: 40%;
  width: 80px;
}

.or-text > p {
  display: inline-block;
  opacity: 50%;
}

.support-text p {
  margin-top: 22%;
  opacity: 60%;
}

a {
  color: rgb(35, 35, 35);
}
